body{
    background: url(../img/wal.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
body{
    margin-left: 2px;
    margin-right: 2px
}
.abajo{
    padding-top: 520px;
        
}
